/*
Tutorial Name: Modernize Your Site: Building a YouTube Video Background 
Author: Samuel Dalusung
*/

.center {
   text-align: center;
}

canvas {
   width: 100%;
   height: 100%;
}


/* BOOTSTRAP CHANGES 
================================================== */

.col-xs-12 {
   padding: 0px;
}


/* GENERAL STYLES
================================================== */
html {
    height:100%;
}

body {
    font:15px/23px 'Raleway',sans-serif;
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    -webkit-font-smoothing:antialiased;
    -webkit-text-size-adjust:100%;
}

p {
    font-size:20px;
    line-height:140%;
    text-align:center;
}


ul li {
    display:inline-block;
    list-style:none;
    padding-right: 10px;
}

.wrapper {
    z-index:600;
    position:relative;
}

.pattern {
    background-image:url(../images/pattern.png);
    background-repeat: repeat;
    background-attachment:scroll;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
}

.divider {
    background-image:url(../images/divider.png);
    display:block;
    width:300px;
    height:35px;
    margin:10px auto;
}


#colorize {
    color:#f1c40f;
    font-family:'Lato',sans-serif;
    font-size:40px;
}

/* HOME STYLES
================================================== */

.home_header {
   margin: 0;3
}
.home_subheader {
   margin: 0;
   margin-top: 20px;
}
.home_logo {
   height: 100%;
   width: 100%;
   opacity: 0.4;
}


/* ABOUT STYLES
=================================================== */
.about_header {
   margin: 0;
   margin-bottom: 40px;
}

.about_logo {
   height: 100%;
   width: 100%;
   opacity: 0.4;
   margin-bottom: 20px;
}

#dalton_img {
   height: 80%;
   width: 80%;
   max-width: 500px;
   opacity: 0.4;
   margin: 30px 0px;
}
#renz_img {
   height: 80%;
   width: 80%;
   max-width: 500px;
   opacity: 0.4;
   margin: 30px 0px;
}
#vinz_img {
   height: 80%;
   width: 80%;
   max-width: 500px;
   opacity: 0.4;
   margin: 30px 0px;
}
#niko_img {
   height: 80%;
   width: 80%;
   max-width: 500px;
   opacity: 0.4;
   margin: 30px 0px;
}
#kevin_img {
   height: 80%;
   width: 80%;
   max-width: 500px;
   opacity: 0.4;
   margin: 30px 0px;
}
.name_header {
   margin: 0; 
   margin-bottom: 0px;
}
.about_p {
   color: white;
}


/* MENU
================================================== */

#Main {
   background-color: black;
}

#Level {
   background-color: black;
}

#Leader {
   background-color: black;
}

#show_lv {
   margin-top: 10px;
}

#Instruction {
   background-color: black;
   height: 100%;
   width: 100%;
}

.button-margin-bottom {
   margin-bottom: 20px;
}

.btn-primary {
   font-size: 20px;
   border-color: cornflowerblue;
   border-radius: 5px;
}

.btn-danger {
   border-radius: 5px;
}

.div-container {
	bottom:0;
	left:0;
   height: 100%;
   width: 100%;
   position: relative;
}

.mobile-button {
   height: 100%;
   width: 100%;
}


#Left {
  bottom: 1%;
  left: 2%;
  position: absolute;
  width: 10%;
  height: 10%;
}

#Right {
  bottom: 1%;
  left: 15%;
  position: absolute;
  width: 10%;
  height: 10%;
}

#Up {
	bottom:1%;
	right:2%;
	position: absolute;
	width: 10%;
	height: 10%;
}

#Pause {
	top: 1%;
	left: 2%;
	position: absolute;
	width: 10%;
	height: 10%;
}

#back {
	top: 1%;
	right: 2%;
	position: absolute;
	width: 10%;
	height:10%;
}

/* LEADER BOARDS
================================================= */

#leader_header {
   margin-top: 10px;
   margin-bottom: 10px;
   color: white;
}

#leader_subheader {
   font-size: 15px;
   color: white;
   margin: 0px;
   margin-top: 5px;
}

.scroll {
   max-height: 230px;
   max-width: 200px;
   height: 100%;
   width: 100%;
   overflow: scroll;
}

.btn-lvl {
   width: 70px;
   height: 65px;
   font-size: 40px;
   margin: 30px;
}

#Board {
   color: white;
}



/* BIG VIDEO BACKGROUND
================================================== */
.big-background {
    z-index:550;
    text-align:center;
    height:100%;
    min-height:100%;
    position:relative;
    overflow:hidden;
}

.big-background .big-background-container {
    width:830px;
    max-width:100%;
    display:inline-block;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
}

.big-background-title {
    font-family:'Raleway',sans-serif;
    font-size:78px;
    color:#fff;
    font-weight:300;
    text-transform:uppercase;
    text-align:center;
    margin-bottom:22px;
    padding-top:20px;
    display:inline-block;
    background-attachment:scroll;
    background-repeat:repeat-x;
    background-position:top center;
}

a.big-background-btn {
    font-family:'Lato',sans-serif;
    font-size:13px;
    text-transform:uppercase;
    text-decoration:none;
    color:#fff;
    background:transparent;
    border:2px solid #fff;
    padding:10px 14px;
    cursor:pointer;
    letter-spacing:2px;
    text-align:center;
    display:inline-block;
    -webkit-transition:.4s background ease;
    -moz-transition:.4s background ease;
    -o-transition:.4s background ease;
    transition:.4s background ease;
}

.big-background-btn:hover {
    color:#fff;
    background:rgba(255,255,255,0.20);
}

.big-background-default-image {
    background:url(../images/sunset.jpg);
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
    width:100%;
    height:100%;
    z-index:0;
    backface-visibility:hidden;
}



/* ABOUT SECTION
================================================== */
.about-section {
    font-family:'Lato',sans-serif;
    color:#7f8c8d;
    background:#fff;
    padding:60px 20px;
}

.about-section-container {
    text-align:center;
    padding-bottom:50px;
}

.about-section-title {
    font-family:'Raleway',sans-serif;
    font-size:40px;
    background:#fff;
    color:#3d566e;
    padding:0 35px;
    margin-bottom:22px;
    background-attachment:scroll;
    background-repeat:repeat-x;
    background-position:center center;
    text-transform:uppercase;
}



a.about-section-btn {
    font-family:'Lato',sans-serif;
    font-size:13px;
    text-transform:uppercase;
    text-decoration:none;
    color:#34495e;
    background:transparent;
    border:2px solid #34495e;
    padding:10px 14px;
    cursor:pointer;
    letter-spacing:2px;
    text-align:center;
    display:inline-block;
    -webkit-transition:.4s background ease;
    -moz-transition:.4s background ease;
    -o-transition:.4s background ease;
    transition:.4s background ease;
}

.about-section-btn:hover {
    color:#fff;
    background: #34495e;
}


/* FOOTER SECTION
================================================== */
.footer-section {
    font-family:'Lato',sans-serif;
    color:#7f8c8d;
    background:#fff;
    padding:2px 20px;
}

.footer-section-container {
    text-align:center;
    padding-bottom:0px;
}

.footer-section-title {
    font-family:'Raleway',sans-serif;
    font-size:40px;
    background:#fff;
    color:#3d566e;
    padding:0 35px;
    margin-bottom:22px;
    background-attachment:scroll;
    background-repeat:repeat-x;
    background-position:center center;
    text-transform:uppercase;
}



a.footer-section-btn {
    font-family:'Lato',sans-serif;
    font-size:13px;
    text-transform:uppercase;
    text-decoration:none;
    color:#34495e;
    background:transparent;
    border:2px solid #34495e;
    padding:10px 14px;
    cursor:pointer;
    letter-spacing:2px;
    text-align:center;
    display:inline-block;
    -webkit-transition:.4s background ease;
    -moz-transition:.4s background ease;
    -o-transition:.4s background ease;
    transition:.4s background ease;
}

.footer-section-btn:hover {
    color:#fff;
    background: #34495e;
}


/* SMALL VIDEO BACKGROUND 
================================================== */
.small-background-section {
    font-family:'Raleway',sans-serif;
    padding:100px 0;
    position:relative;
    width:100%;
    overflow:hidden;
}

.small-background-container {
    position:relative;
    text-align:center;
}

.small-background-title {
    font-size:40px;
    color:#f1c40f;
    font-weight:300;
    z-index:10;
    display:inline-block;
    text-transform:uppercase;
    margin-bottom:20px;
    margin-top: 20px;
    position:relative;
    background-attachment:scroll;
    background-repeat:repeat-x;
    background-position:top center;
}



/* SOCIALS
================================================== */
.socials a {
    color:#fff;
}

.socials a:hover {
    color:#bdc3c7;
}




/* MEDIA QUERIES
================================================== */

/* IPAD
======================*/
@media screen and (max-width: 1024px) {

}

/* MOBILE
======================*/
@media screen and (max-width: 760px) {
   .about-section-title {
      line-height:1;
   }
   .btn-lvl {
      width: 40px;
      height: 40px;
      font-size: 15px;
      margin: 5px 10px;
   }
   #leader_header {
      margin-top: 2px;
      margin-bottom: 2px;
   }
}

@media screen and (max-width: 480px) {
   .big-background-title {
       font-size:45px;
   }
   #colorize {
      font-size: 30px;
   }

   .small-background-title {
       line-height:1;
   }
   .player{ 
      display: none;
   }  /*-> If you want to remove the video bg on a specific viewport w/o plugin*/
}

@media screen and (max-width: 360px) {
   .big-background-title,#colorize {
       line-height:1;
   }
}

@media screen and (max-width: 320px) {
   .small-background-title {
       font-size:30px;
   }

}


